.contacts {
    display: flex;

    &__item+.contacts__item {
        margin-left: 50px;
    }

    &__item:last-child {
        margin-right: 0;
    }

    &__icon-envelope {
        margin-right: 10px;
        fill: currentColor;
        width: 16px;
        height: 12px;

        transition: fill var(--animation);
    }

    &__icon-envelope:hover,
    &__icon-envelope:focus {
        fill: var(--text-color-3);
    }

    &__icon-smartphone {
        margin-right: 10px;
        fill: currentColor;
        width: 10px;
        height: 16px;

        transition: fill var(--animation);
    }

    &__icon-smartphone:hover,
    &__icon-smartphone:focus {
        fill: var(--text-color-3);
    }

    &__link {
        display: flex;
        align-items: center;

        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        text-decoration: none;
        color: var(--text-color-1);

        transition: color var(--animation);
    }

    &__link:hover,
    &__link:focus {
        color: var(--text-color-3);
    }
}