.contacts {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 64px;

    @include mq(tablet) {
        gap: 10px;
        margin-bottom: 0;
    }

    @include mq(desktop) {
        flex-direction: row;
        gap: 50px;
    }
    

    &__icon-envelope {
        display: none;

        @include mq(tablet) {
            display: block;
            margin-right: 10px;
            fill: currentColor;
            width: 16px;
            height: 12px;

            transition: fill var(--animation);
        }
    }

    &__icon-envelope:hover,
    &__icon-envelope:focus {
        fill: var(--text-color-3);
    }

    &__icon-smartphone {
        display: none;

        @include mq(tablet) {
            display: block;
            margin-right: 10px;
            fill: currentColor;
            width: 10px;
            height: 16px;
        
            transition: fill var(--animation);
        }
    }

    &__icon-smartphone:hover,
    &__icon-smartphone:focus {
        fill: var(--text-color-3);
    }

    &__link {
        display: flex;
        align-items: center;

        font-weight: 500;
        font-size: 24px;
        line-height: 1.16;
        letter-spacing: 0.02em;
        text-decoration: none;
        color: var(--text-color-1);

        transition: color var(--animation);

        @include mq(tablet) {
            font-size: 12px;
            line-height: 1.16;
        }
    }

   &__link--active {
    @include mq(mobileOnly) {
        
        line-height: 1.17;
        color: #2196F3;
    }

    @include mq(mobile) {
        font-size: 34px;
    }
   }

    &__link:hover,
    &__link:focus {
        color: var(--text-color-3);
    }
}