.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--bg-color-2);

    &__container {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;

        @include mq(tablet) {

        }

        @include mq(desktop) {
            display: flex;
            flex-direction: row;
            align-items: baseline;
            gap: 93px;
        }
    }

    &__tablet-view {
        @include mq(tablet) {
            display: flex;
            align-items: center;
            justify-content: center;
            align-items: baseline;
            gap: 165px;
        }

            @include mq(desktop) {
            display: flex;
            align-items: center;
            justify-content: center;
            align-items: baseline;
            gap: 70px;
        }
    }

    /*^ logo */

    &__logo {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;

        font-family: var(--text-font-2);
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.16;
        letter-spacing: 0.03em;
        text-decoration: none;
        color: rgba(255, 255, 255, 1);

        @include mq(tablet) {

        }

        @include mq(desktop) {
            display: block;
            font-size: 26px;
            line-height: 1.19;
        }
    }

    &__logo--span {
        color: var(--text-color-3);
    }

    /*^ adress */
    &__list {
        margin-bottom: 60px;

        @include mq(tablet) {
            margin-bottom: 0px;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 9px;

        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 1);

        @include mq(desktop) {
            display: block;
        }
    }

    &__item:last-child {
        margin-bottom: 0;
    }

    &__link--animated {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.6);

        transition: color var(--animation);
    }

    &__link--animated:hover,
    &__link--animated:focus {
        color: var(--text-color-3);
    }

    /*^ social "присоединяйтесь" */

    &__social {
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include mq(desktop) {
            margin-left: auto;
        }
    }

    &__media-title {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 4px;

        font-family: var(--text-font-1);
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    &__newsletter {
        
    }
}