.header {
    padding-top: 25px;
    padding-bottom: 25px;

    border-bottom: 1px solid #ECECEC;

    & .container {
            display: flex;
            align-items: center;
            position: relative;
        }
    
    &__nav {
            display: flex;
            align-items: center;
        }
    
    &__logo {
            margin-left: auto;
    
            font-family: var(--text-font-2);
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 1.38;
            letter-spacing: 0.03em;
            text-decoration: none;
            color: rgba(0, 0, 0, 1);

            @include mq(desktop) {
                font-size: 26px;
                line-height: 1.19;
            }
        }
    
    &__logo .header__span {
            color: var(--text-color-3);
        }
    
    &__menu {
        display: none;

        @include mq(tablet) {
            display: block;
            margin-left: 87px;
        }

        @include mq(tablet) {
            display: block;
            margin-left: 87px;
        }
    }

    &__menu-list {
        display: flex;
        flex-direction: column;
        gap: 32px;
        margin-bottom: auto;
    }
    
    &__contacts {
        display: none;

        @include mq(tablet) {
            display: block;
            margin-left: auto;
        }
    
        @include mq(tablet) {
            display: block;
        }
    }

    &__btn {
        display: none;

        @include mq(mobileOnly) {
            display: inline-flex;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            margin: 0;
            padding: 0 15px 0 0;
            border: none;
            background-color: transparent;
            line-height: 0;

            fill: #000000;

            transition: fill var(--animation);
        }
    }

    &__btn:hover,
    &__btn:focus {
        fill: #2196F3;
    }

    &__btn--close {
        top: -8px;
        right: -40px;
    }

    &__socials-list {
        display: flex;
        flex-wrap: wrap;
        row-gap: 20px;
    }

    &__socials-link {
        font-weight: 500;
        font-size: 18px;
        line-height: 1.2;
        padding: 10px 0px;
    
        letter-spacing: 0.02em;
    
        color: #2196F3;
    }

    &__social-link-line {
        margin: 0 10px;
    }
}




