.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    min-width: 450px;
    min-height: 609px;
    padding: 40px;

    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    @include mq(desktop) {
        min-width: 528px;
        min-height: 581px;
    }

    &__icon {
        position: absolute;
        top: 8px;
        right: 8px;

        display: flex;
        align-items: center;
        justify-content: center;

        width: 30px;
        height: 30px;

        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        cursor: pointer;
    }

    &__close {
        height: 11px;
        width: 11px;

        fill: #000;

        transition: fill var(--animation);
    }

    &__icon:hover>.modal__close {
        fill: #2196F3;
    }
}

