.social-media__link--footer-icon {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;

    transition: background-color var(--animation);

    &:hover,
    &:focus {
        background-color: var(--text-color-3);
    }

    & {
        fill: currentColor;
    }
}

