.subscribe {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: auto;
    margin-right: auto;

    @include mq(desktop) {
        flex-direction: row;
        align-items: flex-end;
        gap: 0;
    }
    

    &__form {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }

    &__label {
        margin-top: 60px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;

        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;

        color: #FFFFFF;
    }

    &__input {
        padding: 15px 16px;
        width: 450px;

        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;

        background-color: transparent;

        color: #fff;

        @include mq(desktop) {
            width: 358px;
        }
    }

    &__btn {
        display: flex;
        align-items: center;
        text-align: center;
        margin-left: auto;
        margin-right: auto;

        width: 200px;
        
        padding: 10px 28px;
        cursor: pointer;
        height: 50px;

        background-color: #2196F3;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: transparent;

        font-family: inherit;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.8;
        letter-spacing: 0.06em;

        color: #FFFFFF;

        transition: background-color var(--animation);

        @include mq(desktop) {
            margin-left: 12px;
        }
    }

    &__btn:hover,
    &__btn:focus {
        background-color: #188CE8;
    }

    &__icon-send {
        margin-left: 10px;

        width: 24px;
        height: 24px;
    }
}

