:root {
    --text-color-1: rgba(117, 117, 117, 1);
    --text-color-2: rgba(33, 33, 33, 1);
    --text-color-3: rgba(33, 150, 243, 1);
    --text-font-1: Roboto, sans-serif;
    --text-font-2: Raleway, sans-serif;
    --bg-color-1: rgba(255, 255, 255, 1);
    --bg-color-2: rgba(47, 48, 58, 1);
    --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}